.chat-content {
    background-color: blueviolet;
    width: 400px;
    height: 440px;
    bottom: 60px;
    right: 60px;
    border-radius: 0px 0px 5px 5px;
}

.chat-input-msg {
    position: absolute;
    bottom: 0px;
    width: 380px;
    height: 29px;
    padding: 10px;
    border: 0px inset;
    border-radius: 0px 0px 5px 5px;
}

.messages {
    max-height: 390px;
    background: #eadcdc;
    height: 390px;
    overflow-y: auto;
    overflow-x: hidden;
}

/* Let's get this party started */

.messages::-webkit-scrollbar {
    width: 8px;
}

/* Track */

.messages::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */

.messages::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(50, 25, 17, 0.78);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.messages::-webkit-scrollbar-thumb:window-inactive {
    background:rgb(50, 25, 17, .4);
}